<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flymob.sample">

    <!--override facebook min sdk version 11 to our min sdk version-->
    <uses-sdk tools:overrideLibrary="com.facebook.ads" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.flymob.sample.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".samples.interstitial.InterstitialActivity"
            android:label="@string/interstitial_sample"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".samples.interstitial.fragment.FragmentInterstitialActivity"
            android:label="@string/fragment_interstitial_sample"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".samples.interstitial.MoPubInterstitialActivity"
            android:label="@string/mo_pub_interstitial_sample"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".samples.native_ad.NativeAdActivity"
            android:label="@string/native_ad_sample"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".samples.native_ad.NativeAdRecyclerViewActivity"
            android:label="@string/native_ad_recycler_view_sample"
            android:theme="@style/AppTheme.NoActionBar" />


        <!--MoPub-->
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--MoPub end-->

    </application>

</manifest>
